<h1>Add a city</h1>

<div class="form-group">
  <form action="/cities" method="post">
    <label for="name">City Name</label>
    <input type="text" name="name" id="name" class="form-control">
    <button type="submit" class="btn btn-warning" name="button">Add City</button>
  </form>
</div>
